<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Plate Material</th>
      <th>Switch Type</th>
      <th>PCB Type</th>
      <th>Oil Type</th>
    </tr>
  </thead>
  <tbody>
    <% keyboards.forEach( k => { %>
        <tr>
          <td><%= k.name %></td>
          <td><%= k.size %></td>
          <td><%= k.plateMaterial %></td>
          <td><%= k.switchType %></td>
          <td><%= k.pcbType %></td>
          <td><%= k.oilType %></td>
          <td><a href="/keyboards/<%= k._id %>">Keyboard Details</a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>