<%- include ('../partials/navBar.ejs') %>

<div class="list-containers">
  <div class="list-container-child">
  <h3> Keyboardy! Community List:</h3>
      <% keyboarder.forEach( k => { %>
        <div class="row">
          <div class="col s12 m6">
            <div class="card dark blue-grey lighten-1">
              <div class="card-content black-text">
                <span class="card-title"><h4><%= k.name %></h4></span>
                  <p>
                    <div><strong>Email:</strong> <%= k.email %></div>
                    <div><strong>Member Since:</strong> <%= k.createdAt %></div>
                  </p>
              </div>
              <div class="card-action">
                <a class="btn disabled black-text" href='/keyboards/<%= k.email %>'>Contact Me!</a>
              </div>
              </div>
            </div>
          </div>
        </div>
          <% }); %>
      </tbody>
    </table>
  </div>
</div>
  