<%- include ('../partials/tempBar.ejs') %>


<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <span class="card-title"><%= keyboard.name %></span>
      </div>
      <div class="card-content">
        <h2>Keyboard Details</h2>
        <h4>Keyboard Build Name: <%= keyboard.name %></h4></div>
        <div><h4>Size: <%= keyboard.size %> </h></div>
        <div><h3>PCB Type: <%= keyboard.pcbType %> </h3></div>
        <div><h3>Switch Type: <%= keyboard.switchType %> </h3></div>
        <div><h3>Oil Type: <%= keyboard.oilType %></div>
        <div><h3>Plate Material Type: <%= keyboard.plateMaterial %></div>
      </div>
    </div>
  </div>
</div>


<h3>Edit: <%= keyboard.name %></h3>
<form action="/keyboards/<%= keyboard._id %>?_method=PUT" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= keyboard.name %>" />
  <label>Keyboard Size:</label>
  <select class="browser-default" name="size">
    <option disabled selected><%= keyboard.size %></option>
    <option value="60%">60%</option>
    <option value="65%">65%</option>
    <option value="75%">75%</option>
    <option value="TKL">TKL</option>
    <option value="Full">Full</option>
  </select>
  <label>PCB Type:</label>
  <select class="browser-default" name="pcbType">
    <option disabled selected><%= keyboard.pcbType %></option>
    <option value="Hot Swap">Hot Swap</option>
    <option value="Solderable">Solderable</option>
  </select>
  <label>Switch Type:</label>
  <select class="browser-default" name="switchType">
    <option disabled selected><%= keyboard.switchType %></option>
    <option value="Clicky">Clicky</option>
    <option value="Tactile">Tactile</option>
    <option value="Linear">Linear</option>
  </select>
  <label>Oil Type:</label>
  <select class="browser-default" name="oilType">
    <option disabled selected><%= keyboard.oilType %></option>
    <option value="Krytox 205g0">Krytox 205g0</option>
    <option value="Krytox 105g0">Krytox 105g0</option>
  </select>
  <label>Plate Material:</label>
  <select class="browser-default" name="plateMaterial">
    <option disabled selected><%= keyboard.plateMaterial %></option>
    <option value="Brass">Brass</option>
    <option value="Aluminum">Aluminum</option>
    <option value="Pom">Pom</option>
  </select>
  <input type="submit" value="Update" method="POST"
  action="/keyboards/<%= keyboard._id %>/notes">
</form>

<h2>Additional Keyboard Build Notes</h2>
<% if (keyboard.notes.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Build Notes</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% keyboard.notes.forEach(function(n) { %>
      <tr>
        <td><%= n.createdAt.toLocaleDateString() %></td>
        <td><%= n.content %></td>
        <td><form action='/notes/<%= n._id %>?_method=DELETE' method="POST">
          <input type="submit" value="Delete" />
        </form></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <h5>No Additional Build Notes Recorded</h5>
  <% } %>
  
  <form id="add-review-form" method="POST"
  action="/keyboards/<%= keyboard._id %>/notes">
  <textarea name="content"></textarea>
  <input type="submit" value="New Note"></form>
  </body>
